<header>
<div id="logo">
  <a href="/"><img src="/images/layout/logo.png" /></a>
</div>
<nav>
<ul class="nav">
  <li><a href="#">Home</a></li>
  <li><a href="#">Buy</a></li>
  <li><a href="#">Sell</a></li>
  <li><a href="#">About</a></li>
  <li><a href="#">Contact</a></li>
</ul>
</nav>
</header>
