<% @page_title ="Artist Colony" %>
<div class="pg_wrapper">
  <h1>Artist Colony</h1>
  <p><em>Vist the Chestnut Ridge Artist Colony's <a href="http://www.chestnutridgeartistcolony.org/index.html">homepage</a>  and <a href="http://www.facebook.com/pages/Chestnut-Ridge-Artist-Colony/169718929744681?sk=wall">Facebook page</a> .</em> </p>
  <p>In 2007 Mayor Terry A Williams along with the Spencer Development Authority began working with local Artist-Blacksmith Jeff Fetty to develop a pristine parcel of land located on Chestnut Ridge overlooking Downtown Spencer. </p>
  <p>All parties shared the vision of creating an Artist Colony perched atop a tranquil ridge where artists could obtain land at an incentive based price in exchange for relocating their studios/workshops to Spencer.</p>
  <p>Today, The Artist Colony at Chestnut Ridge is in full swing and features three Artists. The City of Spencer has over 200 acres on which artists can design and develop their dream studios. Additionally, this property features full city utility hook-ups as well as three-phase power.</p>
  <h3>Currently The Artist Colony at Chestnut Ridge features:</h3>
  <h4>Jeff Fetty Designs Inc.</h4>
  <p>Jeff has been forging hot iron for over 30 years. Visit <a href="http://jefffettyironwork.com/">Jeff Fetty Designs website</a> and be sure to watch Jeff on his <a href="http://www.youtube.com/jefffettydesigns">YouTube Channel</a>.</p>
  <h4>Holcomb Woodworking</h4>
  <p>Phil Holcomb is a world class Luthier and wood worker. Find his amazing work by visiting <a href="http://www.etsy.com/shop.php?user_id=6994422&amp;ga_search_query=Holcomb+&amp;ga_search_type=seller_usernames">Holcomb Woodworking</a>. </p>
  <h4>Sierra Studio Glass</h4>
  <p>Teresa Holcomb designs and produces Jewlery and Fused Glass. View her inspiring products online at <a href="http://sierrastudioglass.com/">Sierra Studio Glass.</a>  </p>
</div>
