<% @page_title = "Historic Bed & Breakfast" %>
<div class="pg_wrapper">
  <h1>Historic Bed & Breakfast</h1>
  Located in The City of Spencer one will find two wonderful historic bed and breakfasts. Each are family owned and operated and strive to exceed your expectations.
  <ul data-role="listview" data-filter="false" data-inset="true">
    <li><a href="http://thearnotthouse.com/default.aspx">Arnott House</a></li>
    <li><a href="http://www.cunninghamhouseinn.com/">Cunningham House</a></li> 
  </ul>
  <div class="videos">
    <iframe width="560" height="315" src="http://www.youtube.com/embed/Pc2O08SpZ6c" frameborder="0" allowfullscreen></iframe> 
    <iframe width="560" height="315" src="http://www.youtube.com/embed/yAk7wzPKJUc" frameborder="0" allowfullscreen></iframe> 
  </div>
</div>
