<% @page_title = "Charles Fork Lake" %>
<div class="pg_wrapper">
  <h1>Charles Fork Lake</h1>
  <div class="videos">
    <iframe width="560" height="315" src="http://www.youtube.com/embed/gdqfhvpHnO4" frameborder="0" allowfullscreen></iframe> <br />
  </div>
  <p>Charles Fork Lake in Roane County, West Virginia, approximately 2 miles southeast of Spencer, accessible from WV Route 36 via County Route 36/2, is owned by the City of Spencer and provides our residents and guests alike with a multi-use area with over 25 miles of trails surrounding a mile long lake that sports excellent fishing, canoeing, and hiking and bike trails.&nbsp; Campsites are available.&nbsp; </p>
  <p>Charles Fork   Lake is the site of the popular Tour de Lake Mountain Bike Race held annually. </p>
  <p>This lake was built in 1974 with maximum depth of 62 feet and an average depth of 27 feet. A concrete boat ramp is available and a trail surrounding most of the lake provides bank fishing access.</p>
  <p> Charles Fork Lake provides warmwater fishing for largemouth bass, sunfish, channel catfish, and tiger musky. Tiger musky generally obtain the 28” minimum size within 3-4 years and are considered one of the premier freshwater game fish by many sportsmen. Tackle used by musky fishermen includes large plugs, spoons, and spinners. Trolling the lake shoreline at depths between 3-12 feet is a successful musky fishing method. </p>
  <p>
    <strong>Rules</strong>
    <ul>
      <li>Families may have one or two small tents in addition to the main camping unit on its campsite.</li>
      <li>Campers must register before occupying a campsite.</li>
      <li>Camping in any manner is prohibited in any area, except at numbered sites designated for camping.</li>
      <li>No explosive materials or other dangerous substances are permitted.</li>
      <li>Uncased firearms, bows and arrows are prohibited other than when the area is open for hunting.</li>
      <li>No hunting of any kind is permitted within 1000 feet of the campground area located below the dam.</li>
      <li>Fishing is permitted in all areas.</li>
      <li>Park guests must abide by all WV DNR hunting and fishing regulations.</li>
      <li>Posted speed limits and park rules must be obeyed or you will be asked to leave.&nbsp; Campground fees will not be refunded for any reason.</li>
      <li>Quiet hours must be observed between 10:00 p.m. and 7:00 a.m.</li>
      <li>Motorbikes or 4-wheelers are prohibited at Charles Fork Lake Park at any time.</li>
      <li>Bicycle riding is prohibited after dark unless properly equipped with a light system front and rear. State law requires riders under 14 to wear a helmet.</li>
      <li>Only dogs and cats are permitted in the camping areas, and they must be restrained on a leash no more that 10 feet in length.</li>
      <li>Fires are limited to designated fire pits or stoves.&nbsp; DO NOT LEAVE FIREPLACES OR STOVES UNATTENDED.&nbsp; Grills at shelters are for charcoal only.</li>
      <li>Trash containers are provided for trash generated while camping or using park facilities.</li>
      <li>The washing of any equipment, paraphernalia, clothing, pet or the body is prohibited in the lake or stream.</li>
      <li>No object may be driven into any tree, shrub, rock, sign, building or other object or structure in the park.&nbsp; Trenching or digging in a campsite is prohibited.</li>
    </ul>
  </p>
  <p> 
    <strong>Pricing/Check In Procedure</strong>
    <ul>
      <li>$7.00 per night/day for sites without eletric and $14.00 per night/day for campsites with electric.</li>
      <li>Please fill out deposit envelope completely.</li>
      <li>Remove section to be placed on vehicle or camper.</li>
      <li>Place money or check made out to City of Spencer in deposit envelope and seal.</li>
      <li>Place envelope in deposit box.</li>
      <li>Deposit envelopes are removed each evening.</li>
      <li>In case assistance is needed call <a href="tel:304-927-1640">304-927-1640</a> or contact the Spencer Police Dept. at <a href="tel:304-927-2392">304-927-2392</a>.</li>
    </ul>
  </p>

  <p><img src="http://cityofspencer.com/images/stories/cf100.jpg" width="410"  hspace="6" alt="Image" title="Image" border="0"></p>
  <p><img src="http://cityofspencer.com/images/stories/cf101.jpg" width="410"  hspace="6" alt="Image" title="Image" border="0"></p>
  <p><img src="http://cityofspencer.com/images/stories/cf102.jpg" width="410"  hspace="6" alt="Image" title="Image" border="0"></p>
  <p><img src="http://cityofspencer.com/images/stories/cf103.jpg" width="410"  hspace="6" alt="Image" title="Image" border="0"></p>
  <p><img src="http://cityofspencer.com/images/stories/cf104.jpg" width="410"  hspace="6" alt="Image" title="Image" border="0"></p>
  <p><img src="http://cityofspencer.com/images/stories/cf105.jpg" width="410"  hspace="6" alt="Image" title="Image" border="0"></p>
</div>
