<% @page_title = "Civil War Park" %>
<div class="pg_wrapper">
  <h1>Civil War Park</h1>								
  <div class="videos">
    <iframe width="560" height="315" src="http://www.youtube.com/embed/g2zNZF-D8u0" frameborder="0" allowfullscreen></iframe> <br />
  </div>
  <p>
    The City of Spencer features a Civil War park founded on the same land that Union and Confederate soldiers took up arms on in August 1861.&nbsp; Today, 
    the park features a replica wooden cannon as well as a cemetary where the first casuality of the battle, Union soldier William Pool, is buried.
  </p>
  <p>This historic site is part of the Blue and Gray Highway.</p>
  <p>Read a complete history of the Skirmish of Spencer <a href="http://www.bluegraytrail.com/roane.cfm">here</a> .</p>
  <p><img src="http://cityofspencer.com/images/stories/cwpark2.jpg" width="400"  alt="Image" title="Image" border="0"></p>
  <p><img src="http://cityofspencer.com/images/stories/cwpark7.jpg" width="400"  alt="Image" title="Image" border="0"></p>
  <p><img src="http://cityofspencer.com/images/stories/snow0915.jpg" width="400"  alt="Image" title="Image" border="0"></p>
  <p><img src="http://cityofspencer.com/images/stories/snow0916.jpg" width="400"  alt="Image" title="Image" border="0"></p>
  <p><img src="http://cityofspencer.com/images/stories/snow093.jpg" width="400" alt="Image" title="Image" border="0"></p>
</div>
