<% @page_title = "Dynamic Shopping" %>
<div class="pg_wrapper">
  <h1>Dynamic Shopping</h1>
  <p>The City of Spencer presents visitors with a dynamic Downtown Shopping District steeped in antiques, jewelry, consignment shops, sporting goods and primitives.&nbsp; Venture a 
    little further out of town and one will find more antiques and fun shopping experiences. 
    <ul class="dynamic_shopping_list" data-role="listview" data-filter="true" data-inset="true">
      <li><a href="http://www.cityofspencer.com/index.php?option=com_content&amp;task=view&amp;id=58&amp;Itemid=57&amp;phpMyAdmin=ec099371df120158e1d91f34b8d27b1d">Spencer Antique Mall</a></li>
      <li><a href="http://maps.google.com/maps?q=213+Church+Street,+Spencer,+WV+25276-1412&hl=en&ll=38.801854,-81.349486&spn=0.004958,0.009431&sll=38.802159,-81.349705&sspn=0.009916,0.018861&vpsrc=6&t=v&gl=us&hnear=213+Church+St,+Spencer,+West+Virginia+25276&z=17">Berries and Vines</a></li>
      <li><a href="http://www.hughesjewelryinc.com/">Hughes Jewelry</a></li>
      <li><a href="http://www.commoncentsconsignment.com/">Common Cents Consignment</a></li>
      <li><a href="http://maps.google.com/maps?q=316+Market+Street,+Spencer,+WV+25276-1812&hl=en&ll=38.801424,-81.351316&spn=0.002479,0.004715&sll=38.801464,-81.35141&sspn=0.009916,0.018861&vpsrc=6&t=v&gl=us&hnear=316+Market+St,+Spencer,+West+Virginia+25276&z=18">Forget Me Not Flowers and Primatives</a></li>
      <li><a href="http://maps.google.com/maps?q=316+Market+Street,+Spencer,+Roane,+WV+25276&hl=en&ll=38.801096,-81.351796&spn=0.009916,0.018861&sll=38.800833,-81.352703&sspn=0.004958,0.009431&vpsrc=6&t=v&gl=us&hnear=316+Market+St,+Spencer,+Roane,+West+Virginia+25276&z=16">Gary's Sporting Goods</a></li>
      <li><a href="#">Blue Star Highway Antiques and Primatives</a></li>
    </ul>
    <div class="videos">
      <iframe width="560" height="315" src="http://www.youtube.com/embed/u3Jm21weQos" frameborder="0" allowfullscreen></iframe>
      <iframe width="560" height="315" src="http://www.youtube.com/embed/n7q2AMnrid4" frameborder="0" allowfullscreen></iframe> 
      <iframe width="560" height="315" src="http://www.youtube.com/embed/l1jwu3uOFIE" frameborder="0" allowfullscreen></iframe> 
    </div>
</div>
