<div class="pg_wrapper">
  <h1>Dynamic Shopping</h1>
  <p>The City of Spencer presents visitors with a dynamic Downtown Shopping District steeped in antiques, jewelry, consignment shops, sporting goods and primitives.&nbsp; Venture a 
    little further out of town and one will find more antiques and fun shopping experiences. 
    <ul class="dynamic_shopping_list" data-role="listview" data-filter="true" data-inset="true">
      <li><a href="index.php?option=com_content&amp;task=view&amp;id=58&amp;Itemid=57&amp;phpMyAdmin=ec099371df120158e1d91f34b8d27b1d">Spencer Antique Mall</a></li>
      <li><a href="http://maps.google.com/maps?oe=utf-8&amp;client=firefox-a&amp;ie=UTF8&amp;q=berries+and+vines+spencer+wv&amp;fb=1&amp;gl=us&amp;hq=berries+and+vines&amp;hnear=spencer+wv&amp;hl=en&amp;view=map&amp;f=d&amp;daddr=213+Church+Street,+Spencer,+WV+25276-1412&amp;geocode=CY8J5xo2zPSqFQATUAIdorMm-w&amp;ved=0CA8Q_wY&amp;sa=X&amp;ei=5aVbS8uyA6fCywTxtuHDDQ">Berries and Vines</a></li>
      <li><a href="http://www.hughesjewelryinc.com/">Hughes Jewelry</a></li>
      <li><a href="http://www.commoncentsconsignment.com/">Common Cents Consignment</a></li>
      <li><a href="http://maps.google.com/maps?oe=utf-8&amp;client=firefox-a&amp;ie=UTF8&amp;q=forget+me+not+spencer+wv&amp;fb=1&amp;gl=us&amp;hq=forget+me+not&amp;hnear=spencer+wv&amp;hl=en&amp;view=map&amp;f=d&amp;daddr=316+Market+Street,+Spencer,+WV+25276-1812&amp;geocode=CUJfblpDRFBEFTgQUAIdDq0m-w&amp;ved=0CA4Q_wY&amp;sa=X&amp;ei=VaZbS9HoG4y6zgSA3YzeDw">Forget Me Not Flowers and Primatives</a></li>
      <li><a href="http://maps.google.com/maps?oe=utf-8&amp;client=firefox-a&amp;ie=UTF8&amp;q=garys+sporting+goods&amp;fb=1&amp;gl=us&amp;hq=garys+sporting+goods&amp;hnear=Point+Pleasant,+WV&amp;hl=en&amp;view=map&amp;f=d&amp;daddr=316+Market+Street,+Spencer,+Roane,+WV+25276&amp;geocode=CSpWBE3GMH0QFTgQUAIdDq0m-w&amp;ved=0CA8Q_wY&amp;sa=X&amp;ei=n6hbS6KeHqfCywTd-dDdDw">Gary's Sporting Goods</a></li>
      <li><a href="#">Blue Star Highway Antiques and Primatives</a></li>
      <li><a href="#">Sues Bargain Shop</a></li>
      <li><a href="http://www.joellenscountryconnection.com/">Walton Thriftway</a></li>
      <li><a href="http://www.joellenscountryconnection.com/">Joellen's Country Connection</a></li>
      <li><a href="#">Bob's Bargain Barn </a></li>
    </ul>
    <div class="videos">
      <iframe width="560" height="315" src="http://www.youtube.com/embed/u3Jm21weQos" frameborder="0" allowfullscreen></iframe> <br />
      <iframe width="560" height="315" src="http://www.youtube.com/embed/n7q2AMnrid4" frameborder="0" allowfullscreen></iframe> 
      <iframe width="560" height="315" src="http://www.youtube.com/embed/l1jwu3uOFIE" frameborder="0" allowfullscreen></iframe> 
    </div>
</div>
