<% @page_title = "Geocaching" %>
<div class="pg_wrapper">
  <h1>Geocaching</h1>
  <p>The City of Spencer hosts numerous Geocaching landmarks. </p>
  <p>Geocaching is a family friendly, high-tech treasure hunt where you search for hidden containers using a GPS reciever. Containers range from very small, cleverly hidden capsules containing only a logsheet for you to sign to very large ammo cans containing not only a&nbsp;logbook, but also small inexpensive trinkets that you and your family may trade for. You must register online to participate and you are encouraged to log your finds online with a short story about your experience.</p>
  <p>A list of these “caches” can be found here: <a href="http://www.geocaching.com/bookmarks/view.aspx?guid=d942aaa3-bf57-4d23-b5bf-c4baed1a1d1b">Geochaches in The City of Spencer</a> </p>
  <p><strong>Learn more about Geocaching by visiting the links below.</strong></p>
  <p><a href="http://cdn2.libsyn.com/cacheamaniacs/CAM131wvangler.mp3?nvb=20090812124850&amp;nva=20090813125850&amp;t=09a3218dce949558a056e">Podcast Interview with Phil Smith</a> . Phil has "hidden" many of the caches in the Spencer area. </p>
  <p><a href="http://www.geocacher-u.com/resources/brochure1.pdf">Geocaching Brochure. </a></p>
  <p><a href="http://www.geocaching.com/about/">Geocaching Homesite. </a> </p>
</div>
