<ul data-role="listview" data-inset="true">
  <li><a href="/dynamic-shopping">Dynamic Shopping</a></li>
  <li><a href="#">Civil War Park</a></li>
  <li><a href="#">Wine Country</a></li>
  <li><a href="#">Vintage Theatre</a></li>
  <li><a href="#">Artist Colony</a></li>
  <li><a href="#">Charles Fork Lake</a></li>
  <li><a href="#">Geocaching</a></li>
  <li><a href="#">Black Walnut Festival</a></li>
  <li><a href="#">Location</a></li>
</ul>
