<div class="slider_searcher">
  <div class="slider">
    <h1>Featured Listings</h1>
    <img src="/images/layout/camaro-03.jpg" />
  </div>
  <div class="searcher">
    <div class="find">
      <h2>Find A Camaro</h2>
      <form action="#" method="post" accept-charset="utf-8">
        <fieldset>
          <label>Zip</label>
          <input type="text" name="zip" value="" id="zip"/>
        </fieldset>
        <fieldset>
          <label>Year</label>
          <input type="text" class="left" name="year_start" value="" id="year_start"/>
          <input type="text" class="right" name="year_end" value="" id="year_end"/>
        </fieldset>
        <fieldset>
          <label>Price</label>
          <input type="text" class="left" name="year_start" value="" id="year_start"/>
          <input type="text" class="right" name="year_end" value="" id="year_end"/>
        </fieldset>
        <fieldset>
          <label>Miles</label>
          <input type="text" class="left" name="year_start" value="" id="year_start"/>
          <input type="text" class="right" name="year_end" value="" id="year_end"/>
        </fieldset>
        <fieldset>
          <input type="submit" value="Search"/>
        </fieldset>
      </form>
    </div>
    <div class="sell">
      <h2>Sell A Camaro</h2>
    </div>
  </div>
</div>
