<ul data-role="listview" data-inset="true">
  <li><a href="/dynamic-shopping">Dynamic Shopping</a></li>
  <li><a href="/civil-war-park">Civil War Park</a></li>
  <li><a href="/wine-country">Wine Country</a></li>
  <li><a href="/vintage-theatre">Vintage Theatre</a></li>
  <li><a href="/artist-colony">Artist Colony</a></li>
  <li><a href="/charles-fork-lake">Charles Fork Lake</a></li>
  <li><a href="/geocaching">Geocaching</a></li>
  <li><a href="/black-walnut-festival">Black Walnut Festival</a></li>
  <li><a href="/bed-and-breakfast">Historic B&Bs</a></li>
  <li><a href="http://maps.google.com/maps?q=spencer,+wv&hl=en&sll=37.0625,-95.677068&sspn=50.777825,67.060547&vpsrc=0&t=v&hnear=Spencer,+Roane,+West+Virginia&z=15">Location</a></li>
</ul>
