<% @page_title = "Robey Theatre" %>
<div class="pg_wrapper">
  <h1>Robey Theatre</h1>
  <div class="videos">
    <iframe width="560" height="315" src="http://www.youtube.com/embed/XvVwsxmGYd0" frameborder="0" allowfullscreen></iframe> <br />
  </div>
  <p>The Robey Theater is one of, if not the, oldest continually running theaters in the United States.&nbsp; Offering new release movies and a complete concession stand in a historic movie theater setting, The Robey Theater is a wonderful experience. 

  </p>
</div>
