<% @page_title = "Wine Country" %>
<div class="pg_wrapper">
  <h1>Wine Country</h1>
  <%= image_tag "images/layout/wine_country.png", :class => "border" %>
  <p>Nestled in the Appalachian Mountains just outside the City of Spencer visitors will find two vineyards producing premium wine.</p>
  <ul data-role="listview" data-filter="false" data-inset="true">
    <li><a href="http://www.roanevineyards.com/">Roane Vineyards</a></li>
    <li><a href="http://vujadevineyards.com/">Vu je De Vineyards</a></li>
  </ul>
</div>
