/* ----------------------------  NAVIGATION (HORIZONTAL)  Custom PrintSouth, INc. ---------------------------  */
nav {
  display: inline;
  float: left;
  margin-right: 0;
  width: 470px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
* html nav {
  overflow-x: hidden;
}
nav ul.nav {
  color: white;
  font-size: 17px;
  line-height: 35px;
  list-style: none outside none;
  padding: 0 12px;
  text-decoration: none;
  z-index: 5000;
  padding: 0;
  margin: 0;
  float: right;
  margin-top: 30px;
}
nav ul.nav li {
  list-style: none;
  padding: 0;
}
nav ul.nav a {
  display: block;
  padding: 0px 18px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
  text-transform: uppercase;
}
nav ul.nav a.last {
  border-right: none;
}
nav ul.nav a.subsActive, nav ul.nav a:hover {
  color: #ccc;
}
nav ul.nav a:active, nav ul.nav .active a {
  color: blue;
}
nav ul.nav li {
  float: left;
  position: relative;
  /*line-height: 100%;*/
}
nav ul.nav ul {
  position: absolute;
  display: none;
  top: 35px;
  padding: 0px 0;
  width: 200px;
  /*line-height: 100%; */
}
nav ul.nav ul li.active {
  height: auto;
  background-image: none;
}
nav ul.nav ul li {
  display: inline;
  /*line-height: 100%; */
}
nav ul.nav li ul li a {
  padding: 0px 18px;
  float: left;
  font-size: .675em;
  line-height: 26px;
  color: #3f7cba;
  width: 157px;
  background: #000;
  text-transform: none;
  border-bottom: #ccc dotted 1px;
}
nav ul.nav li ul li a span {
  border-bottom: dotted 1px #666;
}
nav ul.nav li ul li a:hover {
  color: #666;
}
nav ul.nav ul ul {
  top: auto;
}
nav ul.nav li ul ul {
  left: 8em;
  margin: 0px 0 0 10px;
}
nav ul.nav li:hover ul ul, nav ul.nav li:hover ul ul ul, nav ul.nav li:hover ul ul ul ul {
  display: none;
}
nav ul.nav li:hover ul, nav ul.nav li li:hover ul, nav ul.nav li li li:hover ul, nav ul.nav li li li li:hover ul {
  display: block;
}

/* incase an inverted custom gradient isn't specified */
.fancy-button-reset-base-class {
  font-family: "Lucida Grande", Lucida, Arial, sans-serif;
  background: url('../images/button_bg.png') repeat-x bottom left;
  margin: 0;
  width: auto;
  overflow: visible;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-style: solid;
  font-weight: bold;
}
.fancy-button-reset-base-class::-moz-focus-inner {
  border: none;
  padding: 0;
}
.fancy-button-reset-base-class:focus {
  outline: none;
}

.background {
  background: url("/images/layout/back320.jpg") center top no-repeat fixed;
  background-size: cover;
  font-size: 1em;
}

#container {
  position: relative;
  width: 80%;
  margin: 1% auto;
  padding: 5%;
  background: rgba(255, 255, 255, 0.8);
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  -ms-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 15px;
  text-shadow: rgba(255, 255, 255, 0.6) 1px 1px 0;
}

div[data-role="page"] {
  background: transparent;
}

.pg_wrapper {
  padding: 5%;
  background: rgba(255, 255, 255, 0.8);
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  -ms-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 15px;
  width: 90%;
  margin: 1% auto;
  padding: 5%;
}

.videos {
  text-align: center;
}
.videos iframe {
  width: 260px;
  height: 146.314px;
}

#logo {
  width: 75%;
  margin: 0 auto;
  position: relative;
  display: block;
}

@media screen and (max-width: 320px) {
  /* Specific to this particular image */
  .background {
    background: url("/images/layout/back320.jpg") center top no-repeat fixed;
  }
  .background h1, .background h2, .background h3, .background h4, .background h5 {
    font-size: 1.2em;
  }

  .videos {
    text-align: center;
  }
  .videos iframe {
    width: 260px;
    height: 146.314px;
  }
}
@media screen and (min-width: 321px) and (max-width: 770px) {
  .background {
    background: url("/images/layout/back720.jpg") center top no-repeat fixed;
  }

  .videos {
    text-align: center;
  }
  .videos iframe {
    width: 300px;
    height: 168.824px;
  }
}
@media screen and (min-width: 771px) {
  .background {
    background: url("/images/layout/back1024.jpg") center top no-repeat fixed;
  }

  .videos {
    text-align: center;
  }
  .videos iframe {
    width: 560px;
    height: 315.138px;
  }
}
/* Portrait */
@media screen and (orientation:portrait) {
  /* Portrait styles */
}
/* Landscape */
@media screen and (orientation:landscape) {
  /* Landscape styles */
}
